/*font-family: 'Shrikhand', cursive;
font-family: 'Libre Baskerville', serif;*/

body {
  padding: 50px;
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

a {
  color: #00B7FF;
}

.footer-text {
  float: none;
  text-align: center;
}

.navbar-fixed-top {
  padding-top: 1%;
  font-size: 18px;
}
